<div class="row" ng-controller='mainController'>
	<div ng-class="{ 'col-md-8': haveSavedCitys(), 'col-md-12': noHaveSavedCitys() }">
		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control" placeholder="Введите название города" ng-model="city" ng-change="handleCity()" autofocus />
			</div>
			<div class="col-md-12" ng-show="city !== ''" >
				<div class="well">
					<h3>Город: {{ weatherResult.name }}</h3>
					<h4>Температура: {{ weatherResult.main.temp }} C</h4>
					<p>Облачность: {{ weatherResult.weather[0].description }} <img src="http://openweathermap.org/img/w/{{ weatherResult.weather[0].icon }}.png" alt="" /></p>
					<hr />
					<p class="text-center"><button class="btn btn-primary" ng-click="addCity()"><i class="fa fa-plus-circle"></i> Сохранить город</button></p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="well">
					<h3>Данные по вашему местоположению</h3>
					<h4>Город: {{ geopositionWeather.name }}</h4>
					<p>Температура: {{ geopositionWeather.main.temp }} C</p>
					<p>Облачность: {{ geopositionWeather.weather[0].description }} <img src="http://openweathermap.org/img/w/{{ geopositionWeather.weather[0].icon }}.png" alt="" /></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-show="haveSavedCitys()">
		<div class="list-group">
			<saved-city ng-repeat="city in savedCitys" city-object="city"></saved-city>
		</div>
	</div>
</div>
